In [1]:
import pandas as pd

In [2]:
toyota_data = pd.read_csv('data/car_sales/toyota_sales_data.csv')

In [3]:
toyota_data.head()

,sale_id,sale_rep_id,sale_date,car_model,sale_amount,commission_pct,sale_status
0,1,16,2024-11-18,Tundra,44496.88,0.05,Completed
1,2,11,2024-11-08,Tacoma,34824.72,NaN,Pending
2,3,5,2024-11-03,Corolla,20275.08,NaN,Completed
3,4,20,2024-11-06,Corolla,20068.93,NaN,Completed
4,5,1,2024-11-26,Tundra,49811.99,0.03,Completed

In [5]:
type(toyota_data)

pandas.core.frame.DataFrame

In [6]:
toyota_data.shape

(5000, 7)

In [4]:
model_series = toyota_data['car_model']

In [7]:
type(model_series)

pandas.core.series.Series

In [8]:
model_series.head()

0     Tundra
1     Tacoma
2    Corolla
3    Corolla
4     Tundra
Name: car_model, dtype: object

In [9]:
model_series.dtypes

dtype('O')

In [10]:
model_series.index

RangeIndex(start=0, stop=5000, step=1)

In [11]:
model_series.describe()

count     5000
unique       6
top       RAV4
freq       860
Name: car_model, dtype: object

In [12]:
model_series.unique()

array(['Tundra', 'Tacoma', 'Corolla', 'RAV4', 'Camry', 'Highlander'],
      dtype=object)

In [13]:
model_series.nunique()

6

In [15]:
model_series.isnull().sum()

np.int64(0)

In [16]:
cp_series = toyota_data['commission_pct']

In [17]:
cp_series.isnull()

0       False
1        True
2        True
3        True
4       False
        ...
4995    False
4996    False
4997    False
4998     True
4999     True
Name: commission_pct, Length: 5000, dtype: bool

In [18]:
cp_series.isnull().sum()

np.int64(1274)

In [19]:
cp_series.describe()

count    3726.000000
mean        0.033725
std         0.012503
min         0.020000
25%         0.020000
50%         0.030000
75%         0.050000
max         0.050000
Name: commission_pct, dtype: float64

In [20]:
model_series

0        Tundra
1        Tacoma
2       Corolla
3       Corolla
4        Tundra
         ...
4995    Corolla
4996      Camry
4997     Tacoma
4998    Corolla
4999     Tundra
Name: car_model, Length: 5000, dtype: object

In [21]:
model_series.str.upper()

0        TUNDRA
1        TACOMA
2       COROLLA
3       COROLLA
4        TUNDRA
         ...
4995    COROLLA
4996      CAMRY
4997     TACOMA
4998    COROLLA
4999     TUNDRA
Name: car_model, Length: 5000, dtype: object