In [1]:
import pandas as pd

# Load the Toyota sales dataset
toyota_sales_data = pd.read_csv("data/car_sales/toyota_sales_data.csv")

In [4]:
def calculate_range(series):
    return series.max() - series.min()

custom_aggregations = toyota_sales_data.groupby("sale_rep_id")["sale_amount"]. \
    agg(
        total_sales="sum",
        sales_min="min",
        sales_max="max",
        sales_range=calculate_range
    )

In [5]:
custom_aggregations

             total_sales  sales_min  sales_max  sales_range
sale_rep_id
1             8793624.75   20218.81   49896.99     29678.18
2             8721864.31   20003.27   49193.79     29190.52
3             7483168.82   20254.97   49974.88     29719.91
4             7473215.23   20106.29   49907.66     29801.37
5             7814744.92   20131.62   49810.29     29678.67
6             8089256.01   20004.62   49942.26     29937.64
7             8658437.14   20063.73   49923.84     29860.11
8             8672081.85   20039.54   49979.12     29939.58
9             8623533.39   20122.84   49740.82     29617.98
10            7822524.30   20089.62   49916.96     29827.34
11            7946648.50   20044.54   48953.97     28909.43
12            8493429.13   20000.94   49242.43     29241.49
13            8012200.98   20038.33   49756.17     29717.84
14            8268540.28   20184.51   49650.97     29466.46
15            8218385.64   20017.71   49995.68     29977.97
16            8161330.01   20001.20   49743.93     29742.73
17            8247398.75   20305.51   49468.80     29163.29
18            8759602.34   20169.56   49240.55     29070.99
19            8788981.01   20128.82   49868.47     29739.65
20            7849573.71   20026.22   49635.89     29609.67

In [6]:
car_model_aggregations = toyota_sales_data.groupby("car_model"). \
    agg(
        total_sales=("sale_amount", "sum"),
        count_sales=("sale_id", "count"),
        sales_range=("sale_amount", calculate_range)
    )

In [7]:
car_model_aggregations

            total_sales  count_sales  sales_range
car_model
Camry       23515068.85          856      4975.67
Corolla     18559680.22          827      4995.41
Highlander  32562337.53          814      9967.04
RAV4        26647722.94          860      7962.35
Tacoma      28908731.32          826      9982.44
Tundra      34705000.21          817     14969.07

In [34]:
sales_by_rep_8 = toyota_sales_data.query("sale_rep_id == 8")

In [39]:
len(sales_by_rep_8["sale_status"])

258

In [40]:
sum(sales_by_rep_8["sale_status"] == "Completed")

181

In [45]:
def completed_sales_percentage(sale_status_series):
    total_sales = len(sale_status_series)
    completed_sales = (sale_status_series == "Completed").sum()
    return round((completed_sales / total_sales) * 100, 2)

In [46]:
completed_sales_percentage(sales_by_rep_8["sale_status"])

np.float64(70.16)

In [47]:
toyota_sales_data.groupby("sale_rep_id")["sale_status"]. \
    agg(
        total_sales="count",
        completed_pct=completed_sales_percentage
    )

             total_sales  completed_pct
sale_rep_id
1                    267          66.67
2                    266          78.20
3                    223          67.26
4                    233          70.39
5                    241          72.20
6                    240          77.92
7                    265          69.43
8                    258          70.16
9                    263          69.96
10                   234          70.51
11                   245          68.57
12                   254          72.05
13                   240          67.50
14                   246          67.89
15                   250          72.40
16                   254          72.05
17                   251          72.51
18                   266          66.54
19                   269          70.63
20                   235          74.47

In [49]:
toyota_sales_data.groupby("sale_rep_id"). \
    agg(
        total_sales=("sale_amount", "sum"),
        count_sales=("sale_rep_id", "count"),
        completed_sales_pct=("sale_status", completed_sales_percentage)
    )

             total_sales  count_sales  completed_sales_pct
sale_rep_id
1             8793624.75          267                66.67
2             8721864.31          266                78.20
3             7483168.82          223                67.26
4             7473215.23          233                70.39
5             7814744.92          241                72.20
6             8089256.01          240                77.92
7             8658437.14          265                69.43
8             8672081.85          258                70.16
9             8623533.39          263                69.96
10            7822524.30          234                70.51
11            7946648.50          245                68.57
12            8493429.13          254                72.05
13            8012200.98          240                67.50
14            8268540.28          246                67.89
15            8218385.64          250                72.40
16            8161330.01          254                72.05
17            8247398.75          251                72.51
18            8759602.34          266                66.54
19            8788981.01          269                70.63
20            7849573.71          235                74.47