In [1]:
import pandas as pd

# Load the Toyota sales dataset
toyota_sales_data = pd.read_csv("data/car_sales/toyota_sales_data.csv")

In [2]:
toyota_sales_data.head(10)

,sale_id,sale_rep_id,sale_date,car_model,sale_amount,commission_pct,sale_status
0,1,16,2024-11-18,Tundra,44496.88,0.05,Completed
1,2,11,2024-11-08,Tacoma,34824.72,NaN,Pending
2,3,5,2024-11-03,Corolla,20275.08,NaN,Completed
3,4,20,2024-11-06,Corolla,20068.93,NaN,Completed
4,5,1,2024-11-26,Tundra,49811.99,0.03,Completed
5,6,14,2024-11-28,RAV4,34346.20,0.03,Completed
6,7,12,2024-11-30,RAV4,33073.24,0.03,Completed
7,8,3,2024-11-05,Camry,25561.86,NaN,Completed
8,9,9,2024-11-25,RAV4,29690.54,0.03,Pending
9,10,14,2024-11-09,Camry,27321.71,0.03,Completed

In [3]:
toyota_sales_data["commission_pct"] = toyota_sales_data["commission_pct"].fillna(0)

In [4]:
toyota_sales_data.head(10)

,sale_id,sale_rep_id,sale_date,car_model,sale_amount,commission_pct,sale_status
0,1,16,2024-11-18,Tundra,44496.88,0.05,Completed
1,2,11,2024-11-08,Tacoma,34824.72,0.00,Pending
2,3,5,2024-11-03,Corolla,20275.08,0.00,Completed
3,4,20,2024-11-06,Corolla,20068.93,0.00,Completed
4,5,1,2024-11-26,Tundra,49811.99,0.03,Completed
5,6,14,2024-11-28,RAV4,34346.20,0.03,Completed
6,7,12,2024-11-30,RAV4,33073.24,0.03,Completed
7,8,3,2024-11-05,Camry,25561.86,0.00,Completed
8,9,9,2024-11-25,RAV4,29690.54,0.03,Pending
9,10,14,2024-11-09,Camry,27321.71,0.03,Completed

In [10]:
toyota_sales_data = toyota_sales_data.drop(["sale_rep_id", "sale_status"], axis=1)

In [11]:
toyota_sales_data["commission_amount"] = toyota_sales_data["sale_amount"] * toyota_sales_data["commission_pct"]

In [12]:
toyota_sales_data["sale_category"] = "Low"

In [15]:
toyota_sales_data.loc[toyota_sales_data["sale_amount"] > 30000, "sale_category"] = "Medium"
toyota_sales_data.loc[toyota_sales_data["sale_amount"] > 40000, "sale_category"] = "High"

In [16]:
toyota_sales_data.head(20)

,sale_id,sale_date,car_model,sale_amount,commission_pct,commission_amount,sale_category
0,1,2024-11-18,Tundra,44496.88,0.05,2224.8440,High
1,2,2024-11-08,Tacoma,34824.72,0.00,0.0000,Medium
2,3,2024-11-03,Corolla,20275.08,0.00,0.0000,Low
3,4,2024-11-06,Corolla,20068.93,0.00,0.0000,Low
4,5,2024-11-26,Tundra,49811.99,0.03,1494.3597,High
5,6,2024-11-28,RAV4,34346.20,0.03,1030.3860,Medium
6,7,2024-11-30,RAV4,33073.24,0.03,992.1972,Medium
7,8,2024-11-05,Camry,25561.86,0.00,0.0000,Low
8,9,2024-11-25,RAV4,29690.54,0.03,890.7162,Low
9,10,2024-11-09,Camry,27321.71,0.03,819.6513,Low
10,11,2024-11-11,Highlander,40044.87,0.02,800.8974,High
11,12,2024-11-23,Tundra,39427.38,0.05,1971.3690,Medium
12,13,2024-11-08,Tundra,38598.58,0.02,771.9716,Medium
13,14,2024-11-20,Tacoma,33043.74,0.02,660.8748,Medium
14,15,2024-11-14,RAV4,28455.43,0.02,569.1086,Low
15,16,2024-11-10,Corolla,24909.11,0.03,747.2733,Low
16,17,2024-11-18,Camry,26676.29,0.00,0.0000,Low
17,18,2024-11-02,RAV4,32751.81,0.00,0.0000,Medium
18,19,2024-11-26,RAV4,28992.27,0.00,0.0000,Low
19,20,2024-11-10,Tacoma,35503.75,0.03,1065.1125,Medium

In [17]:
def get_sale_category(sale):
    if sale["sale_amount"] > 40000:
        return "High"
    elif sale["sale_amount"] > 30000:
        return "Medium"
    else:
        return "Low"

In [18]:
toyota_sales_data["sale_category"] = toyota_sales_data.apply(get_sale_category, axis=1)

In [19]:
toyota_sales_data.head(20)

,sale_id,sale_date,car_model,sale_amount,commission_pct,commission_amount,sale_category
0,1,2024-11-18,Tundra,44496.88,0.05,2224.8440,High
1,2,2024-11-08,Tacoma,34824.72,0.00,0.0000,Medium
2,3,2024-11-03,Corolla,20275.08,0.00,0.0000,Low
3,4,2024-11-06,Corolla,20068.93,0.00,0.0000,Low
4,5,2024-11-26,Tundra,49811.99,0.03,1494.3597,High
5,6,2024-11-28,RAV4,34346.20,0.03,1030.3860,Medium
6,7,2024-11-30,RAV4,33073.24,0.03,992.1972,Medium
7,8,2024-11-05,Camry,25561.86,0.00,0.0000,Low
8,9,2024-11-25,RAV4,29690.54,0.03,890.7162,Low
9,10,2024-11-09,Camry,27321.71,0.03,819.6513,Low
10,11,2024-11-11,Highlander,40044.87,0.02,800.8974,High
11,12,2024-11-23,Tundra,39427.38,0.05,1971.3690,Medium
12,13,2024-11-08,Tundra,38598.58,0.02,771.9716,Medium
13,14,2024-11-20,Tacoma,33043.74,0.02,660.8748,Medium
14,15,2024-11-14,RAV4,28455.43,0.02,569.1086,Low
15,16,2024-11-10,Corolla,24909.11,0.03,747.2733,Low
16,17,2024-11-18,Camry,26676.29,0.00,0.0000,Low
17,18,2024-11-02,RAV4,32751.81,0.00,0.0000,Medium
18,19,2024-11-26,RAV4,28992.27,0.00,0.0000,Low
19,20,2024-11-10,Tacoma,35503.75,0.03,1065.1125,Medium

In [20]:
import pandas as pd

# Load the Toyota sales dataset
toyota_sales_data = pd.read_csv("data/car_sales/toyota_sales_data.csv")

In [21]:
toyota_sales_data.head(20)

,sale_id,sale_rep_id,sale_date,car_model,sale_amount,commission_pct,sale_status
0,1,16,2024-11-18,Tundra,44496.88,0.05,Completed
1,2,11,2024-11-08,Tacoma,34824.72,NaN,Pending
2,3,5,2024-11-03,Corolla,20275.08,NaN,Completed
3,4,20,2024-11-06,Corolla,20068.93,NaN,Completed
4,5,1,2024-11-26,Tundra,49811.99,0.03,Completed
5,6,14,2024-11-28,RAV4,34346.20,0.03,Completed
6,7,12,2024-11-30,RAV4,33073.24,0.03,Completed
7,8,3,2024-11-05,Camry,25561.86,NaN,Completed
8,9,9,2024-11-25,RAV4,29690.54,0.03,Pending
9,10,14,2024-11-09,Camry,27321.71,0.03,Completed
10,11,12,2024-11-11,Highlander,40044.87,0.02,Completed
11,12,1,2024-11-23,Tundra,39427.38,0.05,Cancelled
12,13,13,2024-11-08,Tundra,38598.58,0.02,Completed
13,14,2,2024-11-20,Tacoma,33043.74,0.02,Cancelled
14,15,18,2024-11-14,RAV4,28455.43,0.02,Pending
15,16,16,2024-11-10,Corolla,24909.11,0.03,Completed
16,17,1,2024-11-18,Camry,26676.29,NaN,Pending
17,18,8,2024-11-02,RAV4,32751.81,NaN,Completed
18,19,4,2024-11-26,RAV4,28992.27,NaN,Completed
19,20,6,2024-11-10,Tacoma,35503.75,0.03,Completed

In [ ]:
toyota_sales_data["sale_status"] = toyota_sales_data["sale_status"]. \
    replace("Pending", "In Progress")

In [26]:
toyota_sales_data.head(20)

,sale_id,sale_rep_id,sale_date,car_model,sale_amount,commission_pct,sale_status
0,1,16,2024-11-18,Tundra,44496.88,0.05,Completed
1,2,11,2024-11-08,Tacoma,34824.72,NaN,In Progress
2,3,5,2024-11-03,Corolla,20275.08,NaN,Completed
3,4,20,2024-11-06,Corolla,20068.93,NaN,Completed
4,5,1,2024-11-26,Tundra,49811.99,0.03,Completed
5,6,14,2024-11-28,RAV4,34346.20,0.03,Completed
6,7,12,2024-11-30,RAV4,33073.24,0.03,Completed
7,8,3,2024-11-05,Camry,25561.86,NaN,Completed
8,9,9,2024-11-25,RAV4,29690.54,0.03,In Progress
9,10,14,2024-11-09,Camry,27321.71,0.03,Completed
10,11,12,2024-11-11,Highlander,40044.87,0.02,Completed
11,12,1,2024-11-23,Tundra,39427.38,0.05,Cancelled
12,13,13,2024-11-08,Tundra,38598.58,0.02,Completed
13,14,2,2024-11-20,Tacoma,33043.74,0.02,Cancelled
14,15,18,2024-11-14,RAV4,28455.43,0.02,In Progress
15,16,16,2024-11-10,Corolla,24909.11,0.03,Completed
16,17,1,2024-11-18,Camry,26676.29,NaN,In Progress
17,18,8,2024-11-02,RAV4,32751.81,NaN,Completed
18,19,4,2024-11-26,RAV4,28992.27,NaN,Completed
19,20,6,2024-11-10,Tacoma,35503.75,0.03,Completed

In [27]:
toyota_sales_data["sale_amount"].max()

np.float64(49995.68)

In [30]:
toyota_sales_data["commission_pct"] = toyota_sales_data["commission_pct"].fillna(0)

In [31]:
toyota_sales_data["commission_amount"] = toyota_sales_data["sale_amount"] * toyota_sales_data["commission_pct"]

In [32]:
toyota_sales_data["profit_margin"] = (toyota_sales_data["sale_amount"] - toyota_sales_data["commission_amount"]) / toyota_sales_data["sale_amount"]

In [33]:
toyota_sales_data.head(20)

,sale_id,sale_rep_id,sale_date,car_model,sale_amount,commission_pct,sale_status,commission_amount,profit_margin
0,1,16,2024-11-18,Tundra,44496.88,0.05,Completed,2224.8440,0.95
1,2,11,2024-11-08,Tacoma,34824.72,0.00,In Progress,0.0000,1.00
2,3,5,2024-11-03,Corolla,20275.08,0.00,Completed,0.0000,1.00
3,4,20,2024-11-06,Corolla,20068.93,0.00,Completed,0.0000,1.00
4,5,1,2024-11-26,Tundra,49811.99,0.03,Completed,1494.3597,0.97
5,6,14,2024-11-28,RAV4,34346.20,0.03,Completed,1030.3860,0.97
6,7,12,2024-11-30,RAV4,33073.24,0.03,Completed,992.1972,0.97
7,8,3,2024-11-05,Camry,25561.86,0.00,Completed,0.0000,1.00
8,9,9,2024-11-25,RAV4,29690.54,0.03,In Progress,890.7162,0.97
9,10,14,2024-11-09,Camry,27321.71,0.03,Completed,819.6513,0.97
10,11,12,2024-11-11,Highlander,40044.87,0.02,Completed,800.8974,0.98
11,12,1,2024-11-23,Tundra,39427.38,0.05,Cancelled,1971.3690,0.95
12,13,13,2024-11-08,Tundra,38598.58,0.02,Completed,771.9716,0.98
13,14,2,2024-11-20,Tacoma,33043.74,0.02,Cancelled,660.8748,0.98
14,15,18,2024-11-14,RAV4,28455.43,0.02,In Progress,569.1086,0.98
15,16,16,2024-11-10,Corolla,24909.11,0.03,Completed,747.2733,0.97
16,17,1,2024-11-18,Camry,26676.29,0.00,In Progress,0.0000,1.00
17,18,8,2024-11-02,RAV4,32751.81,0.00,Completed,0.0000,1.00
18,19,4,2024-11-26,RAV4,28992.27,0.00,Completed,0.0000,1.00
19,20,6,2024-11-10,Tacoma,35503.75,0.03,Completed,1065.1125,0.97

In [34]:
def get_sale_category(sale):
    if sale["sale_amount"] > 45000:
        return "Very High"
    elif sale["sale_amount"] > 40000:
        return "High"
    elif sale["sale_amount"] > 30000:
        return "Medium"
    else:
        return "Low"

In [35]:
toyota_sales_data["sale_category"] = toyota_sales_data.apply(get_sale_category, axis=1)

In [36]:
toyota_sales_data.head(20)

,sale_id,sale_rep_id,sale_date,car_model,sale_amount,commission_pct,sale_status,commission_amount,profit_margin,sale_category
0,1,16,2024-11-18,Tundra,44496.88,0.05,Completed,2224.8440,0.95,High
1,2,11,2024-11-08,Tacoma,34824.72,0.00,In Progress,0.0000,1.00,Medium
2,3,5,2024-11-03,Corolla,20275.08,0.00,Completed,0.0000,1.00,Low
3,4,20,2024-11-06,Corolla,20068.93,0.00,Completed,0.0000,1.00,Low
4,5,1,2024-11-26,Tundra,49811.99,0.03,Completed,1494.3597,0.97,Very High
5,6,14,2024-11-28,RAV4,34346.20,0.03,Completed,1030.3860,0.97,Medium
6,7,12,2024-11-30,RAV4,33073.24,0.03,Completed,992.1972,0.97,Medium
7,8,3,2024-11-05,Camry,25561.86,0.00,Completed,0.0000,1.00,Low
8,9,9,2024-11-25,RAV4,29690.54,0.03,In Progress,890.7162,0.97,Low
9,10,14,2024-11-09,Camry,27321.71,0.03,Completed,819.6513,0.97,Low
10,11,12,2024-11-11,Highlander,40044.87,0.02,Completed,800.8974,0.98,High
11,12,1,2024-11-23,Tundra,39427.38,0.05,Cancelled,1971.3690,0.95,Medium
12,13,13,2024-11-08,Tundra,38598.58,0.02,Completed,771.9716,0.98,Medium
13,14,2,2024-11-20,Tacoma,33043.74,0.02,Cancelled,660.8748,0.98,Medium
14,15,18,2024-11-14,RAV4,28455.43,0.02,In Progress,569.1086,0.98,Low
15,16,16,2024-11-10,Corolla,24909.11,0.03,Completed,747.2733,0.97,Low
16,17,1,2024-11-18,Camry,26676.29,0.00,In Progress,0.0000,1.00,Low
17,18,8,2024-11-02,RAV4,32751.81,0.00,Completed,0.0000,1.00,Medium
18,19,4,2024-11-26,RAV4,28992.27,0.00,Completed,0.0000,1.00,Low
19,20,6,2024-11-10,Tacoma,35503.75,0.03,Completed,1065.1125,0.97,Medium