In [1]:
import pandas as pd

# Load the Toyota sales dataset
toyota_data = pd.read_csv(
    "data/car_sales/toyota_sales_data_no_header.csv", 
    header=None,
    names=["sale_id", "sale_rep_id", "sale_date", "car_model",
           "sale_amount", "commission_pct", "sale_status"]
)

In [2]:
toyota_data

,sale_id,sale_rep_id,sale_date,car_model,sale_amount,commission_pct,sale_status
0,1,16,2024-11-18,Tundra,44496.88,0.05,Completed
1,2,11,2024-11-08,Tacoma,34824.72,NaN,Pending
2,3,5,2024-11-03,Corolla,20275.08,NaN,Completed
3,4,20,2024-11-06,Corolla,20068.93,NaN,Completed
4,5,1,2024-11-26,Tundra,49811.99,0.03,Completed
...,...,...,...,...,...,...,...
4995,4996,1,2024-11-06,Corolla,21484.83,0.05,Completed
4996,4997,8,2024-11-11,Camry,26519.24,0.05,Pending
4997,4998,18,2024-11-06,Tacoma,30780.39,0.02,Completed
4998,4999,10,2024-11-21,Corolla,22654.59,NaN,Completed
4999,5000,13,2024-11-21,Tundra,44525.85,NaN,Cancelled

In [3]:
toyota_data = pd.read_csv(
    "data/car_sales/toyota_sales_data.csv"
)

In [5]:
toyota_data.columns

Index(['sale_id', 'sale_rep_id', 'sale_date', 'car_model', 'sale_amount',
       'commission_pct', 'sale_status'],
      dtype='object')

In [6]:
toyota_data_renamed = toyota_data.rename(columns={"commission_pct": "commission_percentage"})

In [7]:
toyota_data_renamed

,sale_id,sale_rep_id,sale_date,car_model,sale_amount,commission_percentage,sale_status
0,1,16,2024-11-18,Tundra,44496.88,0.05,Completed
1,2,11,2024-11-08,Tacoma,34824.72,NaN,Pending
2,3,5,2024-11-03,Corolla,20275.08,NaN,Completed
3,4,20,2024-11-06,Corolla,20068.93,NaN,Completed
4,5,1,2024-11-26,Tundra,49811.99,0.03,Completed
...,...,...,...,...,...,...,...
4995,4996,1,2024-11-06,Corolla,21484.83,0.05,Completed
4996,4997,8,2024-11-11,Camry,26519.24,0.05,Pending
4997,4998,18,2024-11-06,Tacoma,30780.39,0.02,Completed
4998,4999,10,2024-11-21,Corolla,22654.59,NaN,Completed
4999,5000,13,2024-11-21,Tundra,44525.85,NaN,Cancelled

In [8]:
toyota_data.columns

Index(['sale_id', 'sale_rep_id', 'sale_date', 'car_model', 'sale_amount',
       'commission_pct', 'sale_status'],
      dtype='object')

In [9]:
column_names_reordered = ['sale_date', 'sale_id', 'sale_rep_id', 'car_model', 'sale_amount',
       'commission_pct', 'sale_status']

In [10]:
toyota_data_reordered = toyota_data[column_names_reordered]

In [11]:
toyota_data_reordered

,sale_date,sale_id,sale_rep_id,car_model,sale_amount,commission_pct,sale_status
0,2024-11-18,1,16,Tundra,44496.88,0.05,Completed
1,2024-11-08,2,11,Tacoma,34824.72,NaN,Pending
2,2024-11-03,3,5,Corolla,20275.08,NaN,Completed
3,2024-11-06,4,20,Corolla,20068.93,NaN,Completed
4,2024-11-26,5,1,Tundra,49811.99,0.03,Completed
...,...,...,...,...,...,...,...
4995,2024-11-06,4996,1,Corolla,21484.83,0.05,Completed
4996,2024-11-11,4997,8,Camry,26519.24,0.05,Pending
4997,2024-11-06,4998,18,Tacoma,30780.39,0.02,Completed
4998,2024-11-21,4999,10,Corolla,22654.59,NaN,Completed
4999,2024-11-21,5000,13,Tundra,44525.85,NaN,Cancelled

In [13]:
toyota_data_upper = toyota_data.rename(columns=str.upper)

In [14]:
toyota_data_upper

,SALE_ID,SALE_REP_ID,SALE_DATE,CAR_MODEL,SALE_AMOUNT,COMMISSION_PCT,SALE_STATUS
0,1,16,2024-11-18,Tundra,44496.88,0.05,Completed
1,2,11,2024-11-08,Tacoma,34824.72,NaN,Pending
2,3,5,2024-11-03,Corolla,20275.08,NaN,Completed
3,4,20,2024-11-06,Corolla,20068.93,NaN,Completed
4,5,1,2024-11-26,Tundra,49811.99,0.03,Completed
...,...,...,...,...,...,...,...
4995,4996,1,2024-11-06,Corolla,21484.83,0.05,Completed
4996,4997,8,2024-11-11,Camry,26519.24,0.05,Pending
4997,4998,18,2024-11-06,Tacoma,30780.39,0.02,Completed
4998,4999,10,2024-11-21,Corolla,22654.59,NaN,Completed
4999,5000,13,2024-11-21,Tundra,44525.85,NaN,Cancelled