In [1]:
import pandas as pd

In [2]:
toyota_sales = pd.read_csv("data/car_sales/toyota_sales_data.csv")

In [6]:
# Simple example: 5 sale amounts
sample_sales = [20000, 30000, 25000, 35000, 40000]

In [7]:
len(sample_sales)

5

In [8]:
pd.Series(sample_sales).median()

np.float64(30000.0)

In [12]:
pd.Series(sample_sales).mean()

np.float64(30000.0)

In [13]:
sample_sales_with_outlier = [20000, 25000, 30000, 35000, 200000]

In [14]:
pd.Series(sample_sales_with_outlier).median()

np.float64(30000.0)

In [15]:
pd.Series(sample_sales_with_outlier).mean()

np.float64(62000.0)

In [17]:
# Mean and median for sale_amount
print("Mean:", toyota_sales['sale_amount'].mean())

Mean: 32979.708214

In [18]:
print("Median:", toyota_sales['sale_amount'].median())

Median: 32613.765

In [19]:
toyota_sales.groupby('car_model')['sale_amount'].agg(['mean', 'median'])

                    mean     median
car_model
Camry       27470.874825  27448.575
Corolla     22442.176808  22477.280
Highlander  40002.871658  39988.890
RAV4        30985.724349  30922.640
Tacoma      34998.464068  34989.815
Tundra      42478.580428  42306.670

In [22]:
!ls -ltr data/car_sales

total 1016
-rw-r--r--@ 1 itversity  staff    1590 Dec 21 10:09 sales_reps_data.csv
-rw-r--r--@ 1 itversity  staff  240471 Dec 21 10:09 toyota_sales_data.csv
-rw-r--r--@ 1 itversity  staff  273161 Dec 21 10:09 toyota_sales_with_commission.csv

In [23]:
toyota_commission = pd.read_csv('data/car_sales/toyota_sales_with_commission.csv')

In [24]:
print("Mean commission:", toyota_commission['commission_amount'].mean())

Mean commission: 829.3923900000001

In [25]:
print("Median commission:", toyota_commission['commission_amount'].median())

Median commission: 792.625

In [26]:
toyota_sales \
    .groupby('sale_rep_id')['sale_amount'] \
    .median() \
    .sort_values(ascending=False) \
    .head()

sale_rep_id
6     33893.770
20    33824.260
8     33821.370
13    33278.490
10    33119.475
Name: sale_amount, dtype: float64

In [27]:
toyota_sales. \
    groupby('sale_status')['sale_amount']. \
    agg(['mean', 'median', 'count'])

                     mean    median  count
sale_status
Cancelled    33048.315550  32371.09    382
Completed    33389.033201  33198.04   3543
Pending      31606.269674  29778.34   1075