In [2]:
import pandas as pd

In [3]:
toyota_sales = pd.read_csv('data/car_sales/toyota_sales_data.csv')

In [4]:
toyota_sales["car_model"].value_counts()

car_model
RAV4          860
Camry         856
Corolla       827
Tacoma        826
Tundra        817
Highlander    814
Name: count, dtype: int64

In [5]:
toyota_sales["car_model"].mode()

0    RAV4
Name: car_model, dtype: object

In [6]:
toyota_sales['sale_status'].value_counts()

sale_status
Completed    3543
Pending      1075
Cancelled     382
Name: count, dtype: int64

In [7]:
toyota_sales['commission_pct'].value_counts()

commission_pct
0.05    1288
0.03    1250
0.02    1188
Name: count, dtype: int64

In [8]:
toyota_sales['commission_pct'].mode()

0    0.05
Name: commission_pct, dtype: float64

In [9]:
toyota_sales['sale_amount'].mode()

0    28487.93
1    32614.83
2    39604.43
3    39615.09
Name: sale_amount, dtype: float64

In [23]:
toyota_sales. \
    groupby('sale_rep_id')['car_model']. \
    agg(lambda x: x.mode()[0] if len(x.mode()) > 0 else None). \
    head(20)

sale_rep_id
1         Tacoma
2         Tacoma
3          Camry
4        Corolla
5        Corolla
6     Highlander
7        Corolla
8         Tundra
9         Tundra
10    Highlander
11         Camry
12        Tundra
13    Highlander
14        Tundra
15          RAV4
16       Corolla
17          RAV4
18         Camry
19         Camry
20         Camry
Name: car_model, dtype: object

In [41]:
toyota_sales. \
    groupby(["sale_rep_id", "car_model"])["sale_id"]. \
    count(). \
    reset_index(). \
    rename(columns={"sale_id": "car_count"}). \
    query("sale_rep_id == 10")

    sale_rep_id   car_model  car_count
54           10       Camry         36
55           10     Corolla         37
56           10  Highlander         45
57           10        RAV4         39
58           10      Tacoma         43
59           10      Tundra         34

In [42]:
print("Mean sale amount:", toyota_sales['sale_amount'].mean())

Mean sale amount: 32979.708214

In [45]:
print("Median sale amount:", toyota_sales['sale_amount'].median())

Median sale amount: 32613.765

In [46]:
print("Mode car model:", toyota_sales['car_model'].mode()[0])

Mode car model: RAV4

In [47]:
print("Mode commission %:", toyota_sales['commission_pct'].mode()[0])

Mode commission %: 0.05